.panel.panel-default
  .panel-heading
    %i.fa.fa-clock-o.fa-fw
    Build Timeline
  / /.panel-heading
  .panel-body
    %ul.timeline
      - codeship_builds.timeline.reverse.each do |build|
        %li{class: cycle('', 'timeline-inverted')}
          .timeline-badge{class: build_timeline_class(build)}
            %i{class: "fa #{build_fa_class(build)}"}
          .timeline-panel
            .timeline-heading
              %h4.timeline-title= build_link build
            .timeline-body
              .container
                .row
                  .col-lg-4
                    %p
                      %small.text-muted
                        %i.fa.fa-clock-o
                        ="#{time_ago_in_words(build.updated_at)} ago"
                .row
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-cube
                        = project_link build.codeship_project
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-user
                        = developer_link build.codeship_committer
                .row
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-code-fork
                        = build.branch
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-chain
                        = build_commit_link build
