.row
  .col-lg-12
    %h1.page-header Failing builds
  / /.col-lg-12
/ /.row
.row
  .col-lg-12
    .panel.panel-default
      .panel-body
        .table-responsive
          %table.dataTable.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Project
                %th Branch
                %th Commit
                %th Developer
                %th Message
            %tbody
              - codeship_builds.red.each do |build|
                %tr{class: cycle('odd', 'even')}
                  %td= project_link build.codeship_project
                  %td= build.branch
                  %td= build_commit_link build
                  %td= developer_link build.codeship_committer
                  %td= build_link build
