!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= 'Coding Romeo'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: 'http://fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet', type: 'text/css'}/
    %link{href: 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}/
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    = javascript_include_tag 'application'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js'


  %body#page-top.index
    / Navigation
    %nav#nav.navbar.navbar-default.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '#page-top'} Coding Romeo
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{href: '#page-top'}
            %li.page-scroll
              %a{href: '#about'} What's this?
            %li.page-scroll
              %a{href: '#registerModal', 'data-toggle' => 'modal'} Try it!
            %li.page-scroll
              %a{href: '#loginModal', 'data-toggle' => 'modal'} Login
        / /.navbar-collapse
      / /.container-fluid
    / Header
    %header
      .container
        .row
          .col-lg-12
            = render 'layouts/flash'
          .col-lg-12
            = image_tag 'welcome/profile.png', class: 'img-responsive'
            .intro-text
              %span.name Coding Romeo
              %hr.star-light/
              %span.skills Codeship.io build statistics & build notifications via Nabaztag:tag
    / Portfolio Grid Section
    %section#about
      .container
        .row
          .col-lg-12.text-center
            %h2 What's this?
            %hr.star-primary/
        .row
          .col-lg-8.col-lg-offset-2.text-center
            %iframe.vine-embed{frameborder: 0, height: 600, src: 'https://vine.co/v/ObripOgqzdx/embed/simple?related=0&audio=1', width: '600'}
          .col-lg-8.col-lg-offset-2
            %p
              Violet likes green, really hates red, and Violet loves Romeo!
            %p
              This spunky little rabbit was produced from 2005 by French company Violet, had a really turbulent history (
              = link_to 'read about it!', 'http://en.wikipedia.org/wiki/Nabaztag'
              ), and now she's ready to announce you the status of your builds with Romeo acting as her server.
            %p
              Don't have a bunny? Worry not, Romeo is quite capable even when alone, providing various statistics about your
              = link_to 'Codeship.io', 'https://www.codeship.io/'
              projects,
              fearlessly grading your projects and developers based on the ratio of failed and successful builds.
            %p
              Take a look at the awesome screenshot below:
              = image_tag 'romeo_dashboard.png', class: 'img-responsive', 'data-toggle' => 'magnify'
            %p
              Register now, and start coding for Romeo, or just sign in as a guest and witness Romeo working furiously with lots and lots of fake data.
          .row
            .col-lg-8.col-lg-offset-2.text-center
              %a{href: '#registerModal', 'data-toggle' => 'modal', class: 'btn btn-success btn-lg'} register
              or
              = link_to 'sign in as a guest', guest_login_path, method: :post, class: 'btn btn-success btn-lg'
    / Footer
    %footer.text-center
      .footer-below
        .container
          %a{href: 'http://r14.railsrumble.com/entries/15-codingromeo'}= image_tag 'http://s0.railsrumble.com/rails-rumble-badge-light.png'
    / Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visble-sm
      %a.btn.btn-primary{:href => '#page-top'}
        %i.fa.fa-chevron-up


    = render 'login'
    = render 'register'
    -# = render 'forgotten_password'
